.submit-button-container {
    width: 200px;
    padding: 10px 0px 0px 100px;
}

.submit-button-text {
    color: white;
}

.count-container {
    margin: 50px 0px 0px 150px;
}

.count-form {
    width: 400px;
    padding: 10px 0px 0px 100px;
    margin: 10px 10px 10px 50px;
}

.status-bar {
    padding: 50px 0px 0px 150px;
}
